@charset "utf-8";

/* css para ser usado no layout como exemplo */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 255, 0.24);
}

h1{
    /*  */
}

h2{
    /*  */
}

p{
    /*  */
}

menu{
    /*  */
}


footer{
    /*  */
}